{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block profile_active %}
active
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/detail.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}

{% block content %}
<h1 class="detail-title text-center">
    <span class="base-color-red">Guild </span><span class="base-color-yellow">Council </span><span
        class="base-color-green">Admini</span><span class="base-color-blue">strator</span>
</h1>
<section>
    <h1 class="text-center profile-quest-title">
        <span class="base-color-red">PLAT</span><span class="base-color-yellow">FORM </span>
        <span class="base-color-green">STA</span><span class="base-color-blue">TS</span>
    </h1>
    
</section>
<section class="container-fluid">
    <h1 class="text-center profile-quest-title">
        <span class="base-color-red">REGIS</span><span class="base-color-yellow">TERED</span>
        <span class="base-color-green">ADVEN</span><span class="base-color-blue">TURERS</span>
    </h1>
    {% if users %}
    {% for user in users %}
    <div class="row d-flex justify-content-center">
        <div class="col-9 d-flex profile-info-container base-bordi-multicolor profile-user-container">
            <div>
                {% if user.profile_img %}
                <img src="{{ url_for('static', filename=user.profile_img) }}" class="profile-img"
                    alt="Profile photo of {{ user.username }}">
                {% else %}
                <img src="{{ url_for('static', filename='images/no_profile_img.png') }}" class="profile-img"
                    alt="Default profile image">
                {% endif %}
            </div>
            <div>
                <div class="d-flex align-items-center mt-2">
                    <div>
                        <div class="profile-name-surname">
                            <span class="base-color-green">{{ user.name }}</span> <span
                                class="base-color-blue">{{
                                user.surname }}</span>
                        </div>
                        <div class="profile-email">
                            <span class="base-color-red">{{ user.username }}</span>
                        </div>
                    </div>
                    <div class="home-card-badge home-type profile-info-badge">
                        <span>{{ user.role }}</span>
                    </div>
                </div>
                {% if user.description %}
                <div class="profile-description">
                    <span>{{ user.description }}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    non ci sono avventurieri registrati
    {% endif %}
</section>
<section>
    <h1 class="text-center profile-quest-title">
        <span class="base-color-red">CREA</span><span class="base-color-yellow">TED</span>
        <span class="base-color-green">QUE</span><span class="base-color-blue">STS</span>
    </h1>
    {% if quests %}
    <div class="container-fluid profile-quests-container">
        <div class="row justify-content-center">
            {% for quest in quests %}
            <div class="col-9 profile-quests-container">
                <div class="card home-card-container">
                    <div class="position-relative border-bottom">
                        <img src="{{ url_for('static', filename=quest.illustration) }}"
                            class="card-img object-fit-cover home-quest-img"
                            alt="Illustration of quest {{quest.title }}">
                        <div class="card-img-overlay">
                            <div class="home-card-text w-100 d-flex justify-content-between">
                                <div class="flex-grow-1 me-2">
                                    <h3 class="card-title home-card-title">{{ quest.title }}</h3>
                                    <div class="home-card-subtitle d-flex flex-wrap">
                                        <div class="d-flex align-items-start">
                                            <div class="home-card-badge home-location"><span>Location:</span> <span>{{
                                                    quest.location }}</span>
                                            </div>
                                            <div class="home-card-badge home-type"><span>Type:</span> <span>{{
                                                    quest.type
                                                    }}</span></div>
                                        </div>
                                        <div class="d-flex align-items-start">
                                            <div class="home-card-badge home-difficulty"><span>Difficulty:</span>
                                                <span>{{
                                                    quest.difficulty }}</span></div>
                                            <div class="home-card-badge home-duration"><span>Duration:</span> <span>{{
                                                    quest.duration }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center align-items-end mb-4 me-4">
                                    <a href="{{ url_for('quest_detail', quest_id=quest.id) }}"
                                        class="home-detail-button">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body profile-card-body">
                        <h2 class="text-center profile-master-title-session">
                            <span class="base-color-red">Avail</span><span class="base-color-yellow">able</span>
                            <span class="base-color-green">Sess</span><span class="base-color-blue">ions</span>
                        </h2>
                        {% if quest.sessions %}
                        <div class="row align-items-center justify-content-center">
                            {% for session in quest.sessions %}
                            <div class="col-4">
                                <div class="profile-master-session base-bordi-multicolor mb-4">
                                    <div class="d-flex align-items-center justify-content-around">
                                        <div class="profile-session-date">
                                            <span class="base-color-green">{{ session.day }}</span> <span
                                                class="base-color-blue">{{ session.hour }}:</span><span
                                                class="base-color-yellow">{{ session.minute }}</span>
                                        </div>
                                    </div>
                                    <div class="base-border-multicolor mt-3 mb-3">
                                        <div class="base-background-green w-100 h-100"></div>
                                    </div>
                                    <div class="row px-3">
                                        <div class="col-4 detail-session-info base-color-blue">
                                            <div class="d-flex justify-content-center">{{ session.Warrior }}</div>
                                            <p class="d-flex justify-content-center">Warriors</p>
                                        </div>
                                        <div class="col-4 detail-session-info base-color-yellow">
                                            <div class="d-flex justify-content-center">{{ session.Mage }}</div>
                                            <p class="d-flex justify-content-center">Mages</p>
                                        </div>
                                        <div class="col-4 detail-session-info base-color-red">
                                            <div class="d-flex justify-content-center">{{ session.Healer }}</div>
                                            <p class="d-flex justify-content-center">Healers</p>
                                        </div>
                                    </div>
                                    <div class="base-border-multicolor mt-2 mb-4">
                                        <div class="base-background-yellow w-100 h-100"></div>
                                    </div>
                                    <div class="profile-companion">
                                        <h3 class="profile-companion-title text-center mb-1">Adventurers [ {{
                                            session.total_booked }} ]</h3>
                                        {% for adventurer in session.adventurers %}
                                        <div class="d-flex flex-column align-items-start justify-content-center mb-1">
                                            <div class="mt-3 ms-2 d-flex align-items-center justify-content-around">
                                                <span class="profile-companion-text profile-master-adventurer ">{{
                                                    adventurer.username }}</span>
                                                <span class="profile-role-badge profile-master-badge ms-3"> {{
                                                    adventurer.role }}</span>
                                            </div>
                                            {% for companion in adventurer.companions %}
                                            <span class="profile-master-companion">-{{ companion }}</span>
                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% if session.total_booked==0 %}
                                    <div class="base-border-multicolor mt-4 mb-4">
                                        <div class="base-background-blue w-100 h-100"></div>
                                    </div>
                                    <div class="d-flex m-2">
                                        <a href="{{ url_for('cancel_session', session_id=session.id) }}"
                                            class="w-50 base-button base-cancel profile-master-button m-1 text-center">Cancel</a>
                                        <button
                                            class="w-50 base-button base-approve profile-master-button m-1 text-center"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modify-{{ session.id }}">Modify</button>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    Non ci sono quest create al momento
    {% endif %}
</section>
{% endblock %}