<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Konosuba - {% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    {% block css %}{% endblock %}
</head>

<body class="min-vh-100">
    <header class="sticky-top">
        <div class="base-container">
            <div class="d-flex flex-wrap justify-content-between align-items-center py-2 mb-2">
                <a href="{{ url_for('home') }}" class="d-flex align-items-center text-decoration-none">
                    <img src="{{ url_for('static', filename='images/logo-header.jpg') }}" class="base-logo-header"
                        alt="Logo Konosuba">
                    <span class="base-title ms-2">
                        <span class="base-color-red">Ko</span> <span class="base-color-yellow">no</span>
                        <span class="base-color-green">su</span> <span class="base-color-blue">ba</span>
                    </span>
                </a>

                <ul class="nav nav-pills align-items-center">
                    <li class="nav-item base-nav-item {% block home_active %}{% endblock %}">
                        <a href="{{ url_for('home') }}" class="nav-link base-nav-link">Home</a>
                    </li>
                    {% if not current_user.is_authenticated %}
                    <li class="nav-item base-nav-item {% block login_active %}{% endblock %}">
                        <a href="{{ url_for('login') }}" class="nav-link base-nav-link">Login</a>
                    </li>
                    <li class="nav-item base-nav-item {% block register_active %}{% endblock %}">
                        <a href="{{ url_for('register') }}" class="nav-link base-nav-link">Register</a>
                    </li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    {% if current_user.role=="master" %}
                    <li class="nav-item base-nav-item {% block create_active %}{% endblock %}">
                        <a href="{{ url_for('quest_create') }}" class="nav-link base-nav-link">New Quest</a>
                    </li>
                    {% endif %}
                    <li class="nav-item base-nav-item {% block profile_active %}{% endblock %}">
                        <a href="{{ url_for('profile') }}" class="nav-link base-nav-link">Profile</a>
                    </li>
                    <li class="nav-item base-nav-item">
                        <a href="{{ url_for('logout') }}" class="nav-link base-nav-link">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="base-border-multicolor">
            <div class="base-background-red col-3 h-100"></div>
            <div class="base-background-yellow col-3 h-100"></div>
            <div class="base-background-green col-3 h-100"></div>
            <div class="base-background-blue col-3 h-100"></div>
        </div>
    </header>

    <div class="base-flash">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="base-border-multicolor flex-row-reverse">
            <div class="base-background-red col-3 h-100"></div>
            <div class="base-background-yellow col-3 h-100"></div>
            <div class="base-background-green col-3 h-100"></div>
            <div class="base-background-blue col-3 h-100"></div>
        </div>
        <div class="container-fluid">
            <div class="row align-items-stretch">
                <div class="col-6 d-flex justify-content-center align-items-center mt-3 mb-3">
                    <a href="{{ url_for('home') }}" class="d-flex align-items-center text-decoration-none">
                        <img src="{{ url_for('static', filename='images/logo-footer.png') }}" class="base-logo-footer"
                            alt="Logo Konosuba">
                    </a>
                </div>
                <div class="col-5 text-center mt-3 mb-3 base-testo-footer">
                    <span>Termini e condizioni della Gilda:</span><br>
                    <span class="base-color-red">Gli avventurieri che navigano su questo</span><span class="base-color-yellow"> sito accettano il rischio di esplosioni</span><span 
                    class="base-color-green">spontanee, attacchi di rane giganti e</span><span class="base-color-blue">la totale assenza di ricompense in Eris</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</body>