<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Konosuba - {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body class="min-vh-100">
    <header class="sticky-top">
        <nav class="d-flex flex-wrap justify-content-between align-items-center navbar-container">
            <a href="{{ url_for('home') }}" class="d-flex align-items-center text-decoration-none">
                <img src="{{ url_for('static', filename='images/logo-header.jpg') }}" class="header-logo" alt="Logo Konosuba">
                <span class="header-title ms-2">
                    <span class="color-red">Ko</span> <span class="color-yellow">no</span> <span class="color-green">su</span> <span class="color-blue">ba</span>
                </span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item header-nav-item {% block home_active %}{% endblock %}">
                    <a href="{{ url_for('home') }}" class="nav-link header-nav-link">Home</a>
                </li>
                {% if not current_user.is_authenticated %}
                <li class="nav-item header-nav-item {% block login_active %}{% endblock %}">
                    <a href="{{ url_for('login') }}" class="nav-link header-nav-link">Login</a>
                </li>
                <li class="nav-item header-nav-item {% block register_active %}{% endblock %}">
                    <a href="{{ url_for('register') }}" class="nav-link header-nav-link">Register</a>
                </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="nav-item header-nav-item {% block profile_active %}{% endblock %}">
                    <a href="{{ url_for('profile') }}" class="nav-link header-nav-link">Profile</a>
                </li>
                <li class="nav-item header-nav-item">
                    <a href="{{ url_for('logout') }}" class="nav-link header-nav-link">Logout</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        <div class="line-multicolor w-100 d-flex">
            <div class="background-red w-25 h-100"></div>
            <div class="background-yellow w-25 h-100"></div>
            <div class="background-green w-25 h-100"></div>
            <div class="background-blue w-25 h-100"></div>
        </div>
    </header>
    <div class="flash-messages d-flex flex-wrap">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% if current_user.is_authenticated and current_user.role=='master' %}
    <a href="{{ url_for('quest_create') }}" class="common-button button-yellow quest-create-button border-multicolor {% block visibility %}{% endblock %}">
        <span class="color-red">NE</span><span class="color-yellow">W Q</span><span class="color-green">UE</span><span class="color-blue">ST</span>
    </a>
    {% endif %}
    <footer>
        <div class="line-multicolor w-100 d-flex flex-row-reverse">
            <div class="background-red w-25 h-100"></div>
            <div class="background-yellow w-25 h-100"></div>
            <div class="background-green w-25 h-100"></div>
            <div class="background-blue w-25 h-100"></div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-5 d-flex justify-content-center align-items-center mt-3 mb-3">
                    <a href="{{ url_for('home') }}" class="text-decoration-none">
                        <img src="{{ url_for('static', filename='images/logo-footer.png') }}" class="footer-logo" alt="Logo Konosuba">
                    </a>
                </div>
                <div class="col-5 text-center mt-4 mb-4 footer-text">
                    <h4 class="footer-title">Guild Terms and Conditions:</h4>
                    <span class="color-red">Adventurers browsing this site </span><span class="color-yellow">accept the risk of spontaneous </span><span class="color-green">explosions, giant toad attacks </span><span class="color-blue">and the total absence of Eris rewards</span>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>