{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block home_active %} active {% endblock %}
{% block content %}
<section class="position-relative w-100">
    <!-- Classe boostrap "img-fluid" che implementa la responsività -->
    <img src="{{ url_for('static', filename='images/quests.png') }}" class="img-fluid" alt="Home image">
    <div class="home-title-container d-flex justify-content-center w-100">
        <h1 class="home-title border-multicolor text-center">
            <span class="color-red">The</span> <span class="color-yellow">Antechamber</span> <span class="color-green">of</span> <span class="color-blue">Glory</span>
        </h1>
    </div>
    <div class="line-multicolor w-100 d-flex">
        <div class="background-red w-25 h-100"></div>
        <div class="background-yellow w-25 h-100"></div>
        <div class="background-green w-25 h-100"></div>
        <div class="background-blue w-25 h-100"></div>
    </div>
</section>
<section class="col-10 dark-box border-multicolor mx-auto">
    <!-- Posso mettere la classe row anche nella form -->
    <form action="{{ url_for('home_filter') }}" method="POST" class="row">
        <div class="col">
            <label for="day" class="home-filtri-label color-red ps-1 pb-1">Day</label>
            <select id="day" name="day" class="form-control text-serif-bold">
                <option value="">Select a day</option>
                {% for day in days %}
                <option value="{{ day }}" {% if day==giorno %} selected {% endif %}>{{ day }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="type" class="home-filtri-label color-yellow ps-1 pb-1">Type</label>
            <select id="type" name="type" class="form-control text-serif-bold">
                <option value="">Select a type</option>
                {% for type in types %}
                <option value="{{ type }}" {% if type==tipo %} selected {% endif %}>{{ type }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="difficulty" class="home-filtri-label color-green ps-1 pb-1">Difficulty</label>
            <select id="difficulty" name="difficulty" class="form-control text-serif-bold">
                <option value="">Select a difficulty</option>
                {% for difficulty in difficulties %}
                <option value="{{ difficulty }}" {% if difficulty==difficolta %} selected {% endif %}>{{ difficulty
                    }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="role" class="home-filtri-label color-blue ps-1 pb-1">Role</label>
            <select id="role" name="role" class="form-control text-serif-bold">
                <option value="">Select a role</option>
                {% for role in roles %}
                <option value="{{ role }}" {% if role==ruolo %} selected {% endif %}>{{ role }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto d-flex flex-column align-items-center justify-content-center">
            <button type="submit" class="common-button button-yellow home-button-search">Search</button>
            {% if giorno or tipo or difficolta or ruolo %}
            <a href="{{ url_for('home') }}" class="common-button button-blue home-button-search mt-3">Reset</a>
            {% endif %}
        </div>
    </form>
</section>
<!-- Ho dovuto aggiungere container-flui per evitare lo strabordamento -->
<section class="padding-bottom-70 container-fluid">
    <h2 class="page-title text-center">
        <span class="color-red">AVAIL</span><span class="color-yellow">ABLE</span> <span class="color-green">QUE</span><span class="color-blue">STS</span>
    </h2>
    {% if quests %}
    {% for quest in quests %}
    <div class="row margin-bottom-50">
        <div class="col-2 d-flex align-items-center justify-content-center">
            {% if quest.foto_sinistra %}
            <img src="{{ url_for('static', filename=quest.foto_sinistra) }}" class="img-fluid object-fit-cover lateral-figure" alt="Decoration photo">
            {% endif %}
        </div>
        <article class="col-8 card position-relative quest-container p-0">
            <img src="{{ url_for('static', filename=quest.illustration) }}" class="card-img object-fit-cover quest-card-image" alt="Illustration of quest {{quest.title }}">
            <div class="card-img-overlay">
                <div class="quest-card-text w-100 d-flex justify-content-between">
                    <div class="flex-grow-1 me-2">
                        <h3 class="card-title title-big-yellow">{{ quest.title }}</h3>
                        <div class="d-flex flex-wrap">
                            <div class="quest-card-badge quest-type">Type: {{ quest.type }}</div>
                            <div class="quest-card-badge quest-difficulty">Difficulty: {{ quest.difficulty }}</div>
                            <div class="quest-card-badge quest-duration">Duration: {{ quest.duration }} min</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-end mb-3 me-4">
                        <a href="{{ url_for('quest_detail', quest_id=quest.id) }}" class="common-button button-yellow">View</a>
                    </div> 
                </div>
            </div>
        </article>
        <div class="col-2 d-flex align-items-center justify-content-center">
            {% if quest.foto_destra %}
            <img src="{{ url_for('static', filename=quest.foto_destra) }}" class="img-fluid object-fit-cover lateral-figure" alt="Decoration photo">
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="d-flex justify-content-center">
        <div class="col-8 card position-relative quest-container p-0 m-0">
            <img src="{{ url_for('static', filename='images/filtraggio.png') }}" class="card-img object-fit-cover" alt="Image no quest found">
            <div class="card-img-overlay">
                <div class="home-noquest-container w-100 d-flex flex-column align-items-center text-center">
                    <h3 class="card-title title-big-yellow home-noquest-title">
                        There are no quests currently available or that match the filters you set
                    </h3>
                    <a href="{{ url_for('home') }}" class="common-button button-blue">Reset filters</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}