{% extends 'base.html' %}
{% block title %}
Profile
{% endblock %}
{% block profile_active %}
active
{% endblock %}
{% block content %}
<section class="d-flex justify-content-center pt-4 mb-3">
    <div class="col-9 d-flex profile-user-container border-multicolor">
        <div class="h-100">
            {% if current_user.profile_img %}
            <img src="{{ url_for('static', filename=current_user.profile_img) }}" class="profile-user-img object-fit-cover" alt="Profile photo of {{ current_user.username }}">
            {% else %}
            <img src="{{ url_for('static', filename='images/no_profile_img.png') }}" class="profile-user-img object-fit-cover" alt="Default profile image">
            {% endif %}
        </div>
        <div class="h-100">
            <div class="d-flex align-items-center mt-2">
                <div class="me-4 p3-4">
                    <div class="profile-name-surname">
                        <span class="color-green">{{ current_user.name }}</span> <span class="color-blue">{{ current_user.surname }}</span>
                    </div>
                    <div class="profile-username">
                        <span class="color-red">{{ current_user.username }}</span>
                    </div>
                </div>
                <div class="quest-card-badge quest-location text-uppercase ms-4">
                    <span>{{ current_user.role }}</span>
                </div>
            </div>
            {% if current_user.description %}
            <div class="detail-description profile-description py-3 px-4 mt-3 ms-3">
                <span>{{ current_user.description }}</span>
            </div>
            {% endif %}
        </div>
    </div>
</section>
<section class="profile-padding-bottom">
    <h1 class="text-center page-title">
        <span class="color-red">JO</span><span class="color-yellow">IN</span> <span class="color-green">QUE</span><span class="color-blue">STS</span>
    </h1>
    {% if quests %}
    <div class="container-fluid profile-quests-container">
        <div class="row justify-content-center">
            {% for quest in quests %}
            <div class="col-5 profile-quests-container">
                <!-- Ho dovuto aggiungere:
                 h-100 per forzare la card a prendere tutta l'altezza della colonna
                 d-flex flex-column per trasformare la card in un contenitore flex verticale.  
                 -flex-grow-1 sul corpo della card (cioè in card-body profile-card-body flex-grow-1) 
                 per dirgli di assorbire tutto lo spazio vuoto rimanente.   -->
                <div class="card quest-container h-100 d-flex flex-column">
                    <div class="position-relative border-bottom">
                        <img src="{{ url_for('static', filename=quest.illustration) }}" class="card-img object-fit-cover quest-card-image" alt="Illustration of quest {{quest.title }}">
                        <div class="card-img-overlay">
                            <div class="quest-card-text w-100 d-flex justify-content-between">
                                <div class="flex-grow-1 me-2">
                                    <h2 class="card-title quest-card-title">{{ quest.title }}</h2>
                                    <div class="d-flex flex-wrap">
                                        <div class="quest-card-badge quest-type"><span>Type:</span> <span>{{ quest.type }}</span></div>
                                        <div class="quest-card-badge quest-difficulty"><span>Difficulty:</span> <span>{{ quest.difficulty }}</span></div>
                                        <div class="quest-card-badge quest-duration"><span>Duration:</span> <span>{{ quest.duration }}</span></div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center align-items-end mb-3 me-4">
                                    <a href="{{ url_for('quest_detail', quest_id=quest.id) }}" class="common-button button-yellow">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body profile-card-body flex-grow-1">
                        <h2 class="text-center profile-card-body-title mt-3 mb-4 pb-3">
                            <span class="color-red">Boo</span><span class="color-yellow">ked</span> <span class="color-green">Sess</span><span class="color-blue">ions</span>
                        </h2>
                        {% if quest.sessions %}
                        {% for session in quest.sessions %}
                        <div class="line-multicolor w-100 d-flex">
                            <div class="background-red w-25 h-100"></div>
                            <div class="background-yellow w-25 h-100"></div>
                            <div class="background-green w-25 h-100"></div>
                            <div class="background-blue w-25 h-100"></div>
                        </div>
                        <div class="container-fluid pt-4">
                            <div class="row align-items-center">
                                <div class="col-9">
                                    <div class="d-flex align-items-center justify-content-around">
                                        <div class="profile-session-date">
                                            <span class="color-green">{{ session.day }}</span> <span class="color-blue">{{ session.hour }}:</span><span class="color-yellow">{{ session.minute }}</span>
                                        </div>
                                        {% if session.role=='Warrior' %}
                                        <span class="quest-card-badge quest-duration ms-3 detail-delete">{{ session.role }}</span>
                                        {% elif session.role=='Mage' %}
                                        <span class="quest-card-badge quest-difficulty ms-3 detail-delete">{{ session.role }}</span>
                                        {% else %}
                                        <span class="quest-card-badge quest-type ms-3 detail-delete">{{ session.role }}</span>
                                        {% endif %}
                                    </div>
                                    {% if session.companions %}
                                    <div class="profile-companion-container my-3 mx-4 p-3">
                                        <h3 class="profile-companion-title text-center mb-2">Your companions</h3>
                                        {% for companion in session.companions %}
                                        <ul class="m-0 ms-4 p-0">
                                            <li class="profile-companion-text ms-4">{{ companion }}</li>
                                        </ul>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-3">
                                    <div class="d-flex justify-content-center mb-1">
                                        {% if session.can_cancel %}
                                        <a href="{{ url_for('cancel_reservation', session_id=session.session_id) }}" class="common-button button-blue profile-name-surname">Cancel</a>
                                        {% else %}
                                        <span class="profile-locked">LOCKED</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="d-flex justify-content-center">
        <div class="col-9 card position-relative quest-container p-0 m-0">
            <img src="{{ url_for('static', filename='images/images/sessions.png') }}" class="card-img object-fit-cover" alt="No quest created">
            <div class="card-img-overlay">
                <div class="home-noquest-container w-100">
                    <div class="d-flex align-items-center justify-content-center text-center">
                        <h3 class="card-title quest-card-title home-noquest-title">
                            You haven't booked any sessions yet. Discover all available quests
                        </h3>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="{{ url_for('home') }}" class="common-button button-blue">Go to Quests</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}