{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block profile_active %}
active
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
{% endblock %}

{% block content %}
<section class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-9 d-flex profile-info-container base-bordi-multicolor profile-user-container">
            <div>
                {% if current_user.profile_img %}
                <img src="{{ url_for('static', filename=current_user.profile_img) }}" class="profile-img"
                    alt="Profile photo of {{ current_user.username }}">
                {% else %}
                <img src="{{ url_for('static', filename='images/no_profile_img.png') }}" class="profile-img"
                    alt="Default profile image">
                {% endif %}
            </div>
            <div>
                <div class="d-flex align-items-center mt-2">
                    <div>
                        <div class="profile-name-surname">
                            <span class="base-color-green">{{ current_user.name }}</span> <span
                                class="base-color-blue">{{
                                current_user.surname }}</span>
                        </div>
                        <div class="profile-email">
                            <span class="base-color-red">{{ current_user.username }}</span>
                        </div>
                    </div>
                    <div class="home-card-badge home-type profile-info-badge">
                        <span>{{ current_user.role }}</span>
                    </div>
                </div>
                {% if current_user.description %}
                <div class="profile-description">
                    <span>{{ current_user.description }}</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section>
    <h1 class="text-center profile-quest-title">
        <span class="base-color-red">JO</span><span class="base-color-yellow">IN</span>
        <span class="base-color-green">QUE</span><span class="base-color-blue">STS</span>
    </h1>
    {% if quests %}
    <div class="container-fluid profile-quests-container">
        <div class="row justify-content-center">
            {% for quest in quests %}
            <div class="col-5 profile-quests-container">
                <!-- Ho dovuto aggiungere:
                 h-100 per forzare la card a prendere tutta l'altezza della colonna
                 d-flex flex-column per trasformare la card in un contenitore flex verticale.  
                 -flex-grow-1 sul corpo della card (cioè in card-body profile-card-body flex-grow-1) 
                 per dirgli di assorbire tutto lo spazio vuoto rimanente.   -->
                <div class="card home-card-container h-100 d-flex flex-column">
                    <div class="position-relative border-bottom">
                        <img src="{{ url_for('static', filename=quest.illustration) }}"
                            class="card-img object-fit-cover home-quest-img"
                            alt="Illustration of quest {{quest.title }}">
                        <div class="card-img-overlay">
                            <div class="home-card-text w-100 d-flex justify-content-between">
                                <div class="flex-grow-1 me-2">
                                    <h3 class="card-title home-card-title">{{ quest.title }}</h3>
                                    <div class="home-card-subtitle d-flex flex-wrap">
                                        <div class="d-flex align-items-start">
                                            <div class="home-card-badge home-location"><span>Location:</span> <span>{{
                                                    quest.location }}</span>
                                            </div>
                                            <div class="home-card-badge home-type"><span>Type:</span> <span>{{
                                                    quest.type
                                                    }}</span></div>
                                        </div>
                                        <div class="d-flex align-items-start">
                                            <div class="home-card-badge home-difficulty"><span>Difficulty:</span>
                                                <span>{{
                                                    quest.difficulty }}</span></div>
                                            <div class="home-card-badge home-duration"><span>Duration:</span> <span>{{
                                                    quest.duration }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center align-items-end mb-4 me-4">
                                    <a href="{{ url_for('quest_detail', quest_id=quest.id) }}"
                                        class="home-detail-button">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body profile-card-body flex-grow-1">
                        <h2 class="text-center">
                            <span class="base-color-red">Boo</span><span class="base-color-yellow">ked</span>
                            <span class="base-color-green">Sess</span><span class="base-color-blue">ions</span>
                        </h2>
                        {% if quest.sessions %}
                        {% for session in quest.sessions %}
                        <div class="base-border-multicolor">
                            <div class="base-background-red col-3 h-100"></div>
                            <div class="base-background-yellow col-3 h-100"></div>
                            <div class="base-background-green col-3 h-100"></div>
                            <div class="base-background-blue col-3 h-100"></div>
                        </div>
                        <div class="profile-session-container pt-2">
                            <div class="row align-items-center">
                                <div class="col-9">
                                    <div class="d-flex align-items-center justify-content-around">
                                        <div class="profile-session-date">
                                            <span class="base-color-green">{{ session.day }}</span> <span
                                                class="base-color-blue">{{ session.hour }}:</span><span
                                                class="base-color-yellow">{{ session.minute }}</span>
                                        </div>
                                        <div class="profile-role-badge">
                                            <span>{{ session.role }}</span>
                                        </div>
                                    </div>
                                    {% if session.companions %}
                                    <div class="profile-companion">
                                        <h3 class="profile-companion-title text-center mb-1">Your companions</h3>
                                        {% for companion in session.companions %}
                                        <div class="d-flex flex-column align-items-center justify-content-center mb-1">
                                            <span class="profile-companion-text">-{{ companion }}</span>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-3">
                                    <div class="d-flex justify-content-center mb-1">
                                        {% if session.can_cancel %}
                                        <a href="{{ url_for('cancel_reservation', session_id=session.session_id) }}"
                                            class="home-detail-button profile-cancel-button">Cancel</a>
                                        {% else %}
                                        <span class="profile-locked">Locked</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="d-flex justify-content-center profile-quests-container">
        <div class="col-8">
            <div class="card position-relative home-card-container">
                <img src="{{ url_for('static', filename='images/sessions.png') }}" class="card-img object-fit-cover"
                    alt="Image no quest found">
                <div class="card-img-overlay">
                    <div class="home-noquest-title-container w-100">
                        <div class="d-flex align-items-center justify-content-center text-center">
                            <h3 class="card-title home-noquest-title">
                                You haven't booked any sessions yet. Discover all available quests
                            </h3>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="{{ url_for('home') }}" class="home-detail-button home-noquest-button">Go to
                                Quests</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endblock %}