{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="col-6 justify-content-center">
        <form action="{{ url_for('create_account') }}" method="POST" enctype="multipart/form-data">
            <h2 class="text-center">The adventure begins.</h2>
            <div class="row">
                <div class="col-6">
                    <label for="name">Name *</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Luigi" required>
                </div>
                <div class="col-6">
                    <label for="surname">Surname *</label>
                    <input type="text" id="surname" name="surname" class="form-control" placeholder="Rossi" required>
                </div>
            </div>

            <label for="username">Username *</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="luigirossi2026" required>

            <label for="password">Password *</label>
            <input type="password" id="password" name="password" class="form-control" required>

            <label for="role">Role *</label>
            <select id="role" name="role" class="form-control">
                <option value="None">Select a role</option>
                <option value="adventurer">Adventure</option>
                <option value="master">Guild Master</option>
            </select>

            <div class="d-flex">
                <button class="w-50" type="reset">Cancel</button>
                <button class="w-50" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}