.auth-card {
    padding: 20px 30px;
    border-top: 5px solid var(--kazuma);
    border-bottom: 5px solid var(--aqua);
    border-left: 5px solid var(--megumin);
    border-right: 5px solid var(--darkness);
    border-radius: 20px;
    margin: 30px;
}

.auth-title {
    font-weight: 900;
    font-size: 2.3rem;
    color: var(--aqua);
    margin-bottom: 30px;
}

label {
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 3px;
}

input, textarea, select {
    margin-bottom: 20px;
}