:root {
    --aqua: rgb(0, 162, 255);
    --kazuma: rgb(46, 204, 112);
    --megumin: rgb(231, 76, 60);
    --darkness: rgb(241, 196, 15);
    --dark: rgb(26, 26, 36);
    --grey: rgb(44, 44, 56); 
}

.base-container {
    padding: 10px 40px;
    background-color: var(--dark);
}

.base-logo-header {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.base-title {
    font-style: italic;
    font-size: 2rem;
    font-weight: 800;
}

.base-color-red { color: var(--megumin); }
.base-color-yellow { color: var(--darkness); }
.base-color-green { color: var(--kazuma); }
.base-color-blue { color: var(--aqua); }

.base-background-red { background-color: var(--megumin); }
.base-background-yellow { background-color: var(--darkness); }
.base-background-green { background-color: var(--kazuma); }
.base-background-blue { background-color: var(--aqua); }

/* Controllare altri punti in cui posso sostituirla */
.base-bordi-multicolor {
    border-bottom: 4px solid var(--kazuma);
    border-top: 4px solid var(--megumin);
    border-left: 4px solid var(--darkness);
    border-right: 4px solid var(--aqua);
}

/* L'ordine con cui metto questi elementi influenza la visualizzazione */
/* Se metto prima hover e poi active, preverrà active su hover, quindi passando
    sopra ad un elemento active quello NON assumerà le proprietà legate all'hover */
/* Invece, se metto prima active e poi hover, preverrà hover su active, quindi passando
    sopra ad un elemento active quello assumerà le proprietà legate all'hover */
.base-nav-item {
    border: 2px solid var(--darkness);
    border-radius: 25px;
    margin-right: 10px;
    box-shadow: 4px 4px 0px rgb(229, 219, 26);
    background-color: white;
}

.base-nav-link {
    font-size: 1.3rem;
    font-weight: 800;
    color: rgb(255, 170, 0);
}

.base-nav-item.active {
    border-color: var(--kazuma);
    box-shadow: 4px 4px 0px rgb(0, 144, 27);
}

.base-nav-item.active .base-nav-link {
    color: var(--kazuma);
}

.base-nav-item:hover {
    border-color: var(--megumin);
    box-shadow: 4px 4px 0px rgb(171, 32, 1);
}

.base-nav-item:hover .base-nav-link{
    color: var(--megumin) !important;
}

.base-border-multicolor {
    width: 100%;
    height: 5px;
    display: flex;
}

.base-flash {
    position: fixed;
    top: 160px;
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    z-index: 100;
}

.base-logo-footer {
    width: 140px;
    height: 90px;
    border-radius: 8px;
}

.base-button {
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px 0px;
    border: 3px solid;
}

.base-approve {
    color: var(--kazuma);
    background-color: #025123;
    border-color: var(--kazuma);
}

.base-approve:hover {
    color: #025123;
    background-color: var(--kazuma);
    border-color: #025123;
}

.base-cancel {
    color: var(--megumin);
    background-color: #ffeb51;
    border-color: var(--megumin);
}

.base-cancel:hover {
    color: #ffeb51;
    background-color: var(--megumin);
    border-color: #ffeb51;
}