.home-intro {
    position: relative;
    width: 100%;
}

.home-intro-testo-container {
    position: absolute;
    top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-intro-testo {
    font-family: fantasy;
    font-size: 5.5rem;
    font-weight: 800;
    letter-spacing: 3px;
    background-color: var(--dark);
    border-radius: 15px;
    padding: 0px 15px;
}

.home-filtri-container {
    background: var(--grey);
}

.home-filtri-box {
    background: var(--dark);
    padding: 40px 30px;
    border-radius: 20px;
    margin: 40px;
}

.home-filtri-label {
    font-size: 1.3rem;
    font-weight: 400;
    font-family:fantasy;
    letter-spacing: 2px;
    margin-left: 3px;
    margin-bottom: 5px;
}

.home-quest-container { 
    background: var(--grey); 
    padding-bottom: 80px;
}

.home-quest-title {
    text-align: center;
    font-family: fantasy;
    font-size: 7rem;
    margin-bottom: 40px;
}

.home-lateral-img-container {
    position: relative;
}

.home-lateral-img-sx {
    position: absolute;
    top: 0px;
    right: 2px;
    height: 420px;
}

.home-lateral-img-dx {
    position: absolute;
    top: 0px;
    left: 2px;
    height: 420px;
}

.home-card-container {
    border: 4px solid white;
    border-radius: 10px;
}

.home-card-container:hover {
    border-bottom: 4px solid var(--kazuma);
    border-top: 4px solid var(--megumin);
    border-left: 4px solid var(--darkness);
    border-right: 4px solid var(--aqua);
}

.home-quest-img {
    height: 450px;
}

.home-card-text {
    position: absolute;
    bottom: 10px;
}

.home-card-title {
    display: flex;
    flex-wrap: wrap;
    font-size: 4rem;
    font-family: fantasy;
    font-weight: 800;
    letter-spacing: 2px;
}

.home-card-subtitle {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.home-card-subtitle div {
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 10px;
    font-family: sans-serif;
    font-weight: 600;
}

.home-location {
    border: 3px solid var(--megumin);
    color: var(--megumin);
    background: rgb(99, 4, 4);
}

.home-type {
    border: 3px solid var(--darkness);
    color: var(--darkness);
    background: rgb(135, 71, 1);
}

.home-difficulty {
    border: 3px solid var(--kazuma);
    color: var(--kazuma);
    background: rgb(0, 85, 0);
}

.home-duration {
    border: 3px solid var(--aqua);
    color: var(--aqua);
    background: rgb(0, 0, 132);
}

.home-detail-button {
    text-decoration: none;
    font-size: 2.3rem;
    font-weight: 800;
    padding: 5px 20px;
    color: rgb(255, 170, 0);
    background-color: white;
    border: 2px solid var(--darkness);
    border-radius: 25px;
    margin-right: 10px;
    box-shadow: 4px 4px 0px rgb(229, 219, 26);
}

.home-detail-button:hover {
    color: var(--megumin);
    border-color: var(--megumin);
    box-shadow: 4px 4px 0px rgb(171, 32, 1);
}

.home-noquest-title-container {
    position: absolute;
    bottom: 30px;
}

.home-noquest-title {
    font-family: fantasy;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2px;
    width: 850px;
    color: var(--darkness);
    display: flex;
    flex-wrap: wrap;
    text-shadow: 3px 3px 0px black;
}

.home-noquest-button {
    color: var(--aqua);
    border-color: var(--aqua);
    box-shadow: 4px 4px 0px rgb(0, 21, 139);
}

.home-noquest-button:hover {
    color: var(--kazuma);
    border-color: var(--kazuma);
    box-shadow: 4px 4px 0px rgb(0, 97, 21);
}