:root {
    --aqua: rgb(0, 162, 255);
    --kazuma: rgb(46, 204, 112);
    --megumin: rgb(231, 76, 60);
    --darkness: rgb(241, 196, 15);
    --dark: rgb(26, 26, 36);
    --grey: rgb(44, 44, 56); 
}

header, footer { background: var(--dark); }
body {
    font-family: fantasy;
    background: var(--grey); 
}

.color-red { color: var(--megumin); }
.color-yellow { color: var(--darkness); }
.color-green { color: var(--kazuma); }
.color-blue { color: var(--aqua); }

.background-red { background-color: var(--megumin); }
.background-yellow { background-color: var(--darkness); }
.background-green { background-color: var(--kazuma); }
.background-blue { background-color: var(--aqua); }
.background-grey { background: var(--grey); }

.padding-navbar { padding: 20px 40px; }
.header-logo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.header-title {
    font-style: italic;
    font-size: 2rem;
    font-weight: 800;
}

.header-nav-item {
    border: 2px solid var(--darkness);
    border-radius: 25px;
    margin-right: 10px;
    box-shadow: 4px 4px 0px rgb(229, 219, 26);
    background-color: white;
}
.header-nav-link {
    font-size: 1.7rem;
    font-weight: 400;
    color: rgb(255, 170, 0);
}

.header-nav-item.active {
    border-color: var(--kazuma);
    box-shadow: 4px 4px 0px rgb(0, 144, 27);
}
.header-nav-item.active .header-nav-link { color: var(--kazuma); }

.header-nav-item:hover {
    border-color: var(--megumin);
    box-shadow: 4px 4px 0px rgb(171, 32, 1);
}
.header-nav-item:hover .header-nav-link{ color: var(--megumin) !important; }

.border-bottom-red { border-bottom: 2px solid var(--megumin); }
.border-bottom-yellow { border-bottom: 2px solid var(--darkness); }
.border-bottom-green { border-bottom: 2px solid var(--kazuma); }
.border-bottom-blue { border-bottom: 2px solid var(--aqua); }
.border-multicolor {
    border-bottom: 4px solid var(--kazuma) !important;
    border-top: 4px solid var(--megumin) !important;
    border-left: 4px solid var(--darkness) !important;
    border-right: 4px solid var(--aqua) !important;
}

.line-multicolor { height: 5px; }
.line-tiny { height: 3px; }

.flash-messages {
    position: fixed;
    top: 160px;
    max-width: 400px;
    font-size: 1.3rem;
    z-index: 100;
}

.quest-create-button {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background: black !important;
}
.quest-create-button:hover { font-size: 2.45rem !important; }

.footer-logo { width: 250px; }
.footer-text {
    font-size: 1.3rem;
    font-weight: 100;
}

.footer-title {
    font-size: 1.9rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgb(255, 0, 255);
}

.home-title-container {
    position: absolute;
    top: 25px;
}

.home-title {
    font-size: 5.5rem;
    font-weight: 800;
    letter-spacing: 3px;
    background-color: var(--dark);
    border-radius: 25px;
    padding: 15px 50px;
}

.dark-box {
    background: var(--dark);
    padding: 40px 30px;
    border-radius: 20px;
    margin: 40px;
}

.home-filtri-label {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.button-flat {
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 15px;
    padding: 10px 0px;
    border: 3px solid;
}

.approve {
    color: var(--kazuma);
    background-color: #025123;
    border-color: var(--kazuma);
}

.approve:hover {
    color: #025123;
    background-color: var(--kazuma);
    border-color: #025123;
}

.cancel {
    color: var(--megumin);
    background-color: #ffeb51;
    border-color: var(--megumin);
}

.cancel:hover {
    color: #ffeb51;
    background-color: var(--megumin);
    border-color: #ffeb51;
}

.common-button {
    font-size: 2.3rem;
    padding: 5px 20px;
    font-weight: 400;
    text-decoration: none;
    background-color: white;
    border-radius: 25px;
    margin-right: 10px;
}

.button-yellow {
    color: rgb(255, 170, 0);
    border: 2px solid var(--darkness);
    box-shadow: 4px 4px 0px rgb(229, 219, 26);
}

.button-yellow:hover {
    color: var(--megumin);
    border-color: var(--megumin);
    box-shadow: 4px 4px 0px rgb(171, 32, 1);
}

.button-blue {
    color: var(--aqua);
    border: 2px solid var(--aqua);
    box-shadow: 4px 4px 0px rgb(64, 170, 199);
}

.button-blue:hover {
    color: var(--kazuma);
    border-color: var(--kazuma);
    box-shadow: 4px 4px 0px rgb(0, 97, 21);
}

.home-button-search {
    width: 160px;
    text-align: center;
    font-size: 1.6rem !important;
    padding: 4px 0px !important;
}

.padding-bottom-70 { padding-bottom: 70px; }
.padding-bottom-80 { padding-bottom: 80px; }
.margin-bottom-50 { margin-bottom: 50px; }

.page-title {
    font-size: 7rem;
    margin-bottom: 40px;
}

.lateral-figure { max-height: 450px; }

.quest-container {
    border: 4px solid white;
    border-radius: 10px;
    min-height: 450px;
}

.quest-container:hover {
    border-bottom: 4px solid var(--kazuma);
    border-top: 4px solid var(--megumin);
    border-left: 4px solid var(--darkness);
    border-right: 4px solid var(--aqua);
}

.quest-card-image { height: 450px; }

.quest-card-text {
    position: absolute;
    bottom: 10px;
    font-size: 1.3rem;
}

.title-big-yellow {
    font-size: 3.8rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgb(255, 221, 0);
    text-shadow: 6px 2px 0px black;
}

.common-badge {
    padding: 5px 10px;
    border-radius: 8px;
    margin-right: 10px;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 4px;
}

.badge-red {
    border: 3px solid var(--megumin);
    color: var(--megumin);
    background: rgb(99, 4, 4);
}

.badge-green {
    border: 3px solid var(--kazuma);
    color: var(--kazuma);
    background: rgb(0, 85, 0);
}

.badge-blue {
    border: 3px solid var(--aqua);
    color: var(--aqua);
    background: rgb(0, 0, 132);
}

.badge-yellow {
    border: 3px solid var(--darkness);
    color: var(--darkness);
    background: rgb(149, 56, 3);
}

.badge-pink { 
    border: 3px solid rgb(255, 197, 255) !important;
    color: rgb(255, 197, 243) !important;
    background: rgb(98, 1, 98) !important;
 }

.home-noquest-container {
    position: absolute;
    bottom: 30px;
}

.home-noquest-title {
    font-size: 3rem;
    width: 850px;
}

.text-size-09 { font-size: 0.9rem; }
.text-size-43 { font-size: 4.3rem; }
.text-size-14 { font-size: 1.4rem !important; }
.text-size-50 { font-size: 5rem; }
.text-size-26 { font-size: 2.6rem !important; }
.text-size-21 { font-size: 2.1rem; }
.text-size-18 { font-size: 1.8rem; }
.text-size-33 { font-size: 3.3rem; }
.text-size-28 { font-size: 2.8rem; }
.text-size-19 { font-size: 1.9rem !important; }
.text-size-17 { font-size: 1.7rem; }
.text-size-15 { font-size: 1.5rem; }
.text-size-40 { font-size: 4rem; }

.detail-container {
    background: var(--dark);
    margin: 10px;
    border: 4px solid var(--kazuma);
    border-radius: 40px;
}
.detail-container img { border-radius: 36px; }

.detail-description-container {
    border-color: var(--aqua);
    margin-top: 40px;
    margin-bottom: 60px;
}

.text-small-white {
    font-family: serif;
    font-size: 1.5rem;
    color: white;
    margin: 30px 45px;
}

.detail-info-container {
    border: 4px solid var(--darkness);
    margin-bottom: 40px;
}

.detail-info {
    font-size: 1.6rem;
    letter-spacing: 2px;
}

.detail-session-container { border: 4px solid var(--megumin); }

.detail-modal-label { 
    font-size: 1.8rem !important;
    letter-spacing: 1px; 
}

.detail-modal-button {
    width: 40%;
    font-weight: 200;
}

.logreg-card {
    background: var(--dark);
    padding: 20px 30px;
    border-radius: 30px;
    margin: 90px;
}

.logreg-label {
    color: white;
    font-weight: 100;
    font-size: 1.4rem;
    margin-bottom: 3px;
}

.text-serif-bold {
    font-family: serif;
    font-size: 1.3rem;
    font-weight: 700;
}

.create-container .logreg-card { margin: 90px 0px; }

.create-section-title {
    font-size: 3.7rem;
    margin-bottom: 25px;
}

.dark-box-grey-border {
    background: black;
    margin: 2px;
    border: 3px solid grey;
    border-radius: 10px;
    margin-bottom: 20px;
}

.create-button-delete {
    font-size: 1.7rem;
    font-weight: 800;
    color: black;
    background-color: rgb(252, 223, 74);
    padding: 3px 15px;
    border: 3px solid red;
    border-radius: 10px;
    box-shadow: 3px 3px 0px rgb(252, 175, 74);
}

.create-button-delete:hover {
    border-color: rgb(252, 223, 74);
    background-color: red;
    box-shadow: 3px 3px 0px rgb(122, 10, 10);;
}

.profile-user-container {
    background: var(--dark);
    margin: 30px;
    padding: 20px 30px;
    border-radius: 15px;
}

.profile-user-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 13px;
}

.profile-description {
    background: black;
    border: 2px solid rgb(138, 138, 138);
    border-radius: 15px;
}

.profile-card-body {
    background: var(--dark);
    border-radius: 6px;
}

.profile-master-session {
    border-radius: 15px;
    background: black;
}

.profile-session-date {
    letter-spacing: 2px;
    font-size: 2.1rem;
}

.profile-locked {
    padding: 15px 20px;
    color: var(--darkness);
    background: var(--megumin);
    border: 4px solid var(--darkness);
    border-radius: 15px;
    font-size: 1.35rem;
    font-weight: 400;
}

.profile-companion-container {
    background: white;
    border: 4px solid grey;
    border-radius: 10px;
}

.profile-companion-title {
    font-size: 1.9rem;
    color: rgb(133, 37, 222);
}

.profile-companion-text {
    font-family: serif;
    font-size: 1.5rem;
    font-weight: 800;
}

.admin-container-stats {
    background: var(--dark);
    padding: 20px 35px;
    border-radius: 25px;
    margin-bottom: 65px; 
}